body {
	/*
	margin: 0;
	padding: 0;
	*/
	background: #171111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #BDBDBD;
}

h1, h2, h3 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0C95C9;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol {
}

blockquote {
}

a {
	color: #DEDEDE;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr {
	display: none;
}

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	background: url(images/img01.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: right;
	width: 620px;
	height: 50px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 34px;
	margin-right: 3px;
	padding: 16px 30px 0px 30px;
	background: url(images/img04.jpg) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
}

#menu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .first {
	background: none;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img02.jpg) repeat-y left top;
}

#page-bgtop {
	padding-top: 30px;
}

/** LOGO */

#logo {
	width: 860px;
	height: 140px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #ffdd00;
}

#logo p {
	text-transform: uppercase;
	font-size: 14px;
}

#logo h1 {
	padding-top: 30px;
	font-size: 50px;
	font-family: Poplar_Std, "Poplar Std", Times, serif;
}

#logo a {
	text-decoration: none;
	color: #7700dd;
}

/* Content */

#content {
	float: right;
	width: 660px;
	padding-top: 10px;
	padding-right: 30px;
}

/* Post */

.post {
	margin-bottom: 25px;
	border-bottom: 1px dotted #464646;
}

.post .title {
	height: 30px;
	color: #D6D6D6;
}

.post .title a {
	text-decoration: none;
	color: #D6D6D6;
}

.post .date {
}

.post .meta {
	margin-top: -10px;
	padding: 2px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	font-style: italic;
	color: #949494;
}

.post .meta a {
	color: #949494;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a {
}

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 180px;
	padding-left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D6D6D6;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 10px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0px;
	padding: 3px 0px;
	border-bottom: 1px solid #aa6600;
}

#sidebar p {
	margin: 0;
	padding: 0px 0px;
}

#sidebar h2 {
	height: 26px;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 0px 0px;
	font-size: 18px;
	font-weight: normal;
	color: #D60000;
}

#sidebar p {
	line-height: 100%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #D6D6D6;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 960px;
	margin: 0 auto;
	padding: 70px 0px 20px 0px;
	background: url(images/img03.jpg) no-repeat left top;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #6C6A69;
}

#footer a {
	color: #6C6A69;
}

