body {
	background: #171111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #BDBDBD;
	text-transform: uppercase;
}

h1, h2, h3 {
	margin: 0;
	font-weight: bold;
	color: #0C95C9;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
}

a {
	color: #DEDEDE;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}
	
hr {
	display: none;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
}

/* Logo */

#logo {
	width: 960px;
	height: 160px;
	margin: 0 auto;
}

#logo p {
	text-transform: uppercase;
	font-size: 14px;
}

#logo h1 {
	padding-top: 30px;
	font-size: 50px;
}

#logo a {
	text-decoration: none;
	color: #7700dd;
}

/* Menu */

#menu {
    display: block;
    height: 34px;
    margin-right: 3px;
    padding: 16px 30px 0px 30px;
    font-size: 16px;
    color: #ff0000;
}

/* Content */

#content {
	width: 860px;
	padding-top: 10px;
	padding-right: 50px;
}

/* Post */

.post {
	margin-bottom: 25px;
	border-bottom: 1px dotted #464646;
}


/* Footer */

#footer {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 13px;
	color: #6C6A69;
}

#footer a {
	color: #6C6A69;
}

